doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        .table-container
            a(href="/update-cobj") Add to this table
            table
                tbody
                    tr
                        th Name
                        th Type
                        th Quantity
                    each food in data
                        tr
                        each property in [food.properties.name, food.properties.type, food.properties.quantity]
                            td #{property}